#instructions {
    max-width: 640px;
    text-align: left;
    margin: 30px auto;
}

/* #instructions textarea {
    width: 100%;
    height: 100px;
} */

#my_video_1 {
    width: 100%;
}

#thumb-div {
    display: flex;
    flex-wrap: wrap;
}

.thumb-div-child {
    padding: 5px;
}

.thumb-detail-textarea {
    width: 640px;
    height: 8em;
}

.thumb-detail-collapse {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}
@-webkit-keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

.thumb-canvas:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}

.full-div {
    border-top: solid;
}

/* Show the controls (hidden at the start by default) */
.video-js .vjs-control-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* Make the demo a little prettier */
body {
    margin-top: 20px;
    background: #222;
    text-align: center;
    color: #aaa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: radial-gradient(#333, hsl(200, 30%, 6%));
}

a,
a:hover,
a:visited {
    color: #ffdaff;
}